body{
  width: 330px;
  text-align: center;
  margin: 30px;
}

.wrap{
  margin-bottom: 20px;
}

h1{
  color: rgb(82, 52, 29);
  display: inline-block;
  letter-spacing: 2px;
  vertical-align: bottom;
  margin: 0 5px 0 0;
}

ul{
  width: 200px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 30px;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: left;
}

li{
  list-style: decimal;
  cursor: pointer;
  margin: 10px 0;
}

#btn{
  margin: 10px 0;
}

button{
  color: #ffffff;
  cursor: pointer;
  background-color: rgb(222, 189, 150);
  border: none;
  border-radius: 5px;
  margin: 0 6px;
  padding: 4px 20px;
}

/* 参考：https://qiita.com/dojyorin/items/6b2893b3e46597948a43 */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label#check{
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 20px;
  color: #969696;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  background-color: #ffffff;
}

input[type="checkbox"]:checked + label#check{
  border: 1px solid rgb(166, 204, 233);
  background-color: rgb(166, 204, 233);
}

input[type="checkbox"] + label#check::before {
  content: "OFF";
  position: absolute;
  top: 3px;
  left: auto;
  right: 6px;
}

input[type="checkbox"]:checked + label#check::before {
  content: "ON";
  position: absolute;
  left: 4px;
  right: auto;
  color: #ffffff;
}

input[type="checkbox"] + label#check > div {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 5px;
  height: 14px;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  background-color: #ffffff;
  transition: 0.2s;
}

input[type="checkbox"]:checked + label#check > div {
  border: 1px solid transparent;
  left: 30px;
}